* {
    margin: 0;
    padding: 0;
    
}


.img-background {
                    width: 100%;
                    height: auto;
                
}



#clock { 
            width: 100%;
            position: absolute;
            font-size: 9vw;
            color: white;
            text-align: center;
            font-family: Arial, Helvetica, sans-serif ;
            margin-top: 20%;
           
}



#date { 
    width: 100%;
    position: absolute;
    font-size: 5vw;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif ;
    margin-top: 35%;
}